# CREDIT CARD FRAUD DETECTION

**Project Source:** *Kaggle (https://www.kaggle.com/datasets/mlg-ulb/creditcardfraud)*

**Project By :**  *Narra SuryaKoushik Reddy*

**Project for :**  *Data Science in JNTU Hyderabad*

**E-Mail :**  *narrasuryakoushikreddy@gmail.com*



*   Importing Dependences

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
warnings.filterwarnings("ignore")
plt.style.use('bmh')
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

In [ ]:
# Loading the dataset 
cc_data = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/CC Fraud detection/creditcard.csv')

In [ ]:

print("First 5 rowns of data")
print(cc_data.head())
print("Last 5 rowns of data")
print(cc_data.tail())

First 5 rowns of data
   Time        V1        V2        V3        V4        V5        V6        V7  \
0   0.0 -1.359807 -0.072781  2.536347  1.378155 -0.338321  0.462388  0.239599
1   0.0  1.191857  0.266151  0.166480  0.448154  0.060018 -0.082361 -0.078803
2   1.0 -1.358354 -1.340163  1.773209  0.379780 -0.503198  1.800499  0.791461
3   1.0 -0.966272 -0.185226  1.792993 -0.863291 -0.010309  1.247203  0.237609
4   2.0 -1.158233  0.877737  1.548718  0.403034 -0.407193  0.095921  0.592941

         V8        V9  ...       V21       V22       V23       V24       V25  \
0  0.098698  0.363787  ... -0.018307  0.277838 -0.110474  0.066928  0.128539
1  0.085102 -0.255425  ... -0.225775 -0.638672  0.101288 -0.339846  0.167170
2  0.247676 -1.514654  ...  0.247998  0.771679  0.909412 -0.689281 -0.327642
3  0.377436 -1.387024  ... -0.108300  0.005274 -0.190321 -1.175575  0.647376
4 -0.270533  0.817739  ... -0.009431  0.798278 -0.137458  0.141267 -0.206010

        V26       V27       V28  Amount  Class
0 -0.189115  0.133558 -0.021053  149.62      0
1  0.125895 -0.008983  0.014724    2.69      0
2 -0.139097 -0.055353 -0.059752  378.66      0
3 -0.221929  0.062723  0.061458  123.50      0
4  0.502292  0.219422  0.215153   69.99      0

[5 rows x 31 columns]
Last 5 rowns of data
            Time         V1         V2        V3        V4        V5  \
284802  172786.0 -11.881118  10.071785 -9.834783 -2.066656 -5.364473
284803  172787.0  -0.732789  -0.055080  2.035030 -0.738589  0.868229
284804  172788.0   1.919565  -0.301254 -3.249640 -0.557828  2.630515
284805  172788.0  -0.240440   0.530483  0.702510  0.689799 -0.377961
284806  172792.0  -0.533413  -0.189733  0.703337 -0.506271 -0.012546

              V6        V7        V8        V9  ...       V21       V22  \
284802 -2.606837 -4.918215  7.305334  1.914428  ...  0.213454  0.111864
284803  1.058415  0.024330  0.294869  0.584800  ...  0.214205  0.924384
284804  3.031260 -0.296827  0.708417  0.432454  ...  0.232045  0.578229
284805  0.623708 -0.686180  0.679145  0.392087  ...  0.265245  0.800049
284806 -0.649617  1.577006 -0.414650  0.486180  ...  0.261057  0.643078

             V23       V24       V25       V26       V27       V28  Amount  \
284802  1.014480 -0.509348  1.436807  0.250034  0.943651  0.823731    0.77
284803  0.012463 -1.016226 -0.606624 -0.395255  0.068472 -0.053527   24.79
284804 -0.037501  0.640134  0.265745 -0.087371  0.004455 -0.026561   67.88
284805 -0.163298  0.123205 -0.569159  0.546668  0.108821  0.104533   10.00
284806  0.376777  0.008797 -0.473649 -0.818267 -0.002415  0.013649  217.00

        Class
284802      0
284803      0
284804      0
284805      0
284806      0

[5 rows x 31 columns]

In [ ]:
# Details of the Dataset
cc_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 284807 entries, 0 to 284806
Data columns (total 31 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   Time    284807 non-null  float64
 1   V1      284807 non-null  float64
 2   V2      284807 non-null  float64
 3   V3      284807 non-null  float64
 4   V4      284807 non-null  float64
 5   V5      284807 non-null  float64
 6   V6      284807 non-null  float64
 7   V7      284807 non-null  float64
 8   V8      284807 non-null  float64
 9   V9      284807 non-null  float64
 10  V10     284807 non-null  float64
 11  V11     284807 non-null  float64
 12  V12     284807 non-null  float64
 13  V13     284807 non-null  float64
 14  V14     284807 non-null  float64
 15  V15     284807 non-null  float64
 16  V16     284807 non-null  float64
 17  V17     284807 non-null  float64
 18  V18     284807 non-null  float64
 19  V19     284807 non-null  float64
 20  V20     284807 non-null  float64
 21  V21     284807 non-null  float64
 22  V22     284807 non-null  float64
 23  V23     284807 non-null  float64
 24  V24     284807 non-null  float64
 25  V25     284807 non-null  float64
 26  V26     284807 non-null  float64
 27  V27     284807 non-null  float64
 28  V28     284807 non-null  float64
 29  Amount  284807 non-null  float64
 30  Class   284807 non-null  int64
dtypes: float64(30), int64(1)
memory usage: 67.4 MB

In [ ]:
# Missing values in each column
cc_data.isnull().sum()

Time      0
V1        0
V2        0
V3        0
V4        0
V5        0
V6        0
V7        0
V8        0
V9        0
V10       0
V11       0
V12       0
V13       0
V14       0
V15       0
V16       0
V17       0
V18       0
V19       0
V20       0
V21       0
V22       0
V23       0
V24       0
V25       0
V26       0
V27       0
V28       0
Amount    0
Class     0
dtype: int64

In [ ]:
# Grouping legit and fraudulend transactions.
cc_data['Class'].value_counts()

0    284315
1       492
Name: Class, dtype: int64

# Dataset is not balanced

Legit transaction --> 0,

Fraudulent transation --> 1

In [ ]:
# Data analysis (separating data)
legit = cc_data[cc_data.Class == 0]
fraud = cc_data[cc_data.Class == 1]

In [ ]:
print(legit.shape)
print(fraud.shape)

(284315, 31)
(492, 31)

In [ ]:
# Discription of the legit Data
legit.Amount.describe()

count    284315.000000
mean         88.291022
std         250.105092
min           0.000000
25%           5.650000
50%          22.000000
75%          77.050000
max       25691.160000
Name: Amount, dtype: float64

In [ ]:
# Discription of the fraudulent Data
fraud.Amount.describe()

count     492.000000
mean      122.211321
std       256.683288
min         0.000000
25%         1.000000
50%         9.250000
75%       105.890000
max      2125.870000
Name: Amount, dtype: float64

In [ ]:
# comparing values of both transation
cc_data.groupby('Class').mean()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V20,V21,V22,V23,V24,V25,V26,V27,V28,Amount
Class,,,,,,,,,,,,,,,,,,,,,
0,94838.202258,0.008258,-0.006271,0.012171,-0.007860,0.005453,0.002419,0.009637,-0.000987,0.004467,...,-0.000644,-0.001235,-0.000024,0.000070,0.000182,-0.000072,-0.000089,-0.000295,-0.000131,88.291022
1,80746.806911,-4.771948,3.623778,-7.033281,4.542029,-3.151225,-1.397737,-5.568731,0.570636,-2.581123,...,0.372319,0.713588,0.014049,-0.040308,-0.105130,0.041449,0.051648,0.170575,0.075667,122.211321

# Under-Sampling

Building a sample dataset containing similar distribution of legit transactions and Fraudulent Transactions

Number oif Fraudulent Transations --> 492

In [ ]:
legit_sample = legit.sample(n=492)

Concatenating two Data Frames

In [ ]:
new_data = pd.concat([legit_sample, fraud], axis=0)

In [ ]:
print("First 5 rowns of data")
print(new_data.head())
print("Last 5 rowns of data")
print(new_data.tail())

First 5 rowns of data
            Time        V1        V2        V3        V4        V5        V6  \
278983  168568.0 -0.633367 -0.209812  0.799048 -1.255835 -0.507774  0.139280
88128    61998.0 -0.376680  0.423100  2.259825 -0.028972 -0.703751  0.027954
18484    29539.0  0.947649 -0.082725  0.731251  1.351093 -0.620014 -0.422054
48072    43484.0 -0.005901  0.014000  1.149302 -1.189750  0.073894  0.223494
98104    66521.0 -0.195131  0.373973  1.234187 -1.261088 -0.394557 -0.777923

              V7        V8        V9  ...       V21       V22       V23  \
278983  0.673000 -0.032002 -1.218490  ... -0.235066 -0.213207 -0.024843
88128  -0.105448  0.228011  0.317381  ...  0.274027  0.727819 -0.175753
18484  -0.016410 -0.014109  0.115712  ...  0.031350 -0.099200  0.014402
48072   0.649370 -0.516010 -1.067366  ...  0.262399  1.083823 -0.274848
98104   0.096931  0.012420 -1.615675  ...  0.034995 -0.080002  0.058455

             V24       V25       V26       V27       V28  Amount  Class
278983 -0.423087 -0.430867  0.228591  0.060273  0.128215  160.21      0
88128  -0.099335 -0.202768  0.465154  0.058439  0.067656   35.04      0
18484   0.371860  0.253628 -0.479422  0.030756  0.049019  106.89      0
48072  -0.708646 -0.330401 -0.077370 -0.261153 -0.315882   64.36      0
98104   0.215556 -0.691219 -0.609697  0.160780  0.174838   15.00      0

[5 rows x 31 columns]
Last 5 rowns of data
            Time        V1        V2        V3        V4        V5        V6  \
279863  169142.0 -1.927883  1.125653 -4.518331  1.749293 -1.566487 -2.010494
280143  169347.0  1.378559  1.289381 -5.004247  1.411850  0.442581 -1.326536
280149  169351.0 -0.676143  1.126366 -2.213700  0.468308 -1.120541 -0.003346
281144  169966.0 -3.113832  0.585864 -5.399730  1.817092 -0.840618 -2.943548
281674  170348.0  1.991976  0.158476 -2.583441  0.408670  1.151147 -0.096695

              V7        V8        V9  ...       V21       V22       V23  \
279863 -0.882850  0.697211 -2.064945  ...  0.778584 -0.319189  0.639419
280143 -1.413170  0.248525 -1.127396  ...  0.370612  0.028234 -0.145640
280149 -2.234739  1.210158 -0.652250  ...  0.751826  0.834108  0.190944
281144 -2.208002  1.058733 -1.632333  ...  0.583276 -0.269209 -0.456108
281674  0.223050 -0.068384  0.577829  ... -0.164350 -0.295135 -0.072173

             V24       V25       V26       V27       V28  Amount  Class
279863 -0.294885  0.537503  0.788395  0.292680  0.147968  390.00      1
280143 -0.081049  0.521875  0.739467  0.389152  0.186637    0.76      1
280149  0.032070 -0.739695  0.471111  0.385107  0.194361   77.89      1
281144 -0.183659 -0.328168  0.606116  0.884876 -0.253700  245.00      1
281674 -0.450261  0.313267 -0.289617  0.002988 -0.015309   42.53      1

[5 rows x 31 columns]

In [ ]:
new_data['Class'].value_counts()

0    492
1    492
Name: Class, dtype: int64

In [ ]:
new_data.groupby('Class').mean()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V20,V21,V22,V23,V24,V25,V26,V27,V28,Amount
Class,,,,,,,,,,,,,,,,,,,,,
0,92074.241870,-0.117639,-0.000350,0.016308,0.030149,-0.095759,0.070861,0.022181,-0.027319,0.055543,...,-0.049824,0.019874,0.018394,0.016814,0.021437,0.000078,-0.007793,0.009007,-0.026463,90.250711
1,80746.806911,-4.771948,3.623778,-7.033281,4.542029,-3.151225,-1.397737,-5.568731,0.570636,-2.581123,...,0.372319,0.713588,0.014049,-0.040308,-0.105130,0.041449,0.051648,0.170575,0.075667,122.211321

Splitting the data into Features and Targets

In [ ]:
X = new_data.drop(columns = 'Class', axis = 1)
Y = new_data['Class']

In [ ]:
X

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V20,V21,V22,V23,V24,V25,V26,V27,V28,Amount
278983,168568.0,-0.633367,-0.209812,0.799048,-1.255835,-0.507774,0.139280,0.673000,-0.032002,-1.218490,...,-0.548251,-0.235066,-0.213207,-0.024843,-0.423087,-0.430867,0.228591,0.060273,0.128215,160.21
88128,61998.0,-0.376680,0.423100,2.259825,-0.028972,-0.703751,0.027954,-0.105448,0.228011,0.317381,...,0.009564,0.274027,0.727819,-0.175753,-0.099335,-0.202768,0.465154,0.058439,0.067656,35.04
18484,29539.0,0.947649,-0.082725,0.731251,1.351093,-0.620014,-0.422054,-0.016410,-0.014109,0.115712,...,0.022239,0.031350,-0.099200,0.014402,0.371860,0.253628,-0.479422,0.030756,0.049019,106.89
48072,43484.0,-0.005901,0.014000,1.149302,-1.189750,0.073894,0.223494,0.649370,-0.516010,-1.067366,...,0.322770,0.262399,1.083823,-0.274848,-0.708646,-0.330401,-0.077370,-0.261153,-0.315882,64.36
98104,66521.0,-0.195131,0.373973,1.234187,-1.261088,-0.394557,-0.777923,0.096931,0.012420,-1.615675,...,0.167793,0.034995,-0.080002,0.058455,0.215556,-0.691219,-0.609697,0.160780,0.174838,15.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
279863,169142.0,-1.927883,1.125653,-4.518331,1.749293,-1.566487,-2.010494,-0.882850,0.697211,-2.064945,...,1.252967,0.778584,-0.319189,0.639419,-0.294885,0.537503,0.788395,0.292680,0.147968,390.00
280143,169347.0,1.378559,1.289381,-5.004247,1.411850,0.442581,-1.326536,-1.413170,0.248525,-1.127396,...,0.226138,0.370612,0.028234,-0.145640,-0.081049,0.521875,0.739467,0.389152,0.186637,0.76
280149,169351.0,-0.676143,1.126366,-2.213700,0.468308,-1.120541,-0.003346,-2.234739,1.210158,-0.652250,...,0.247968,0.751826,0.834108,0.190944,0.032070,-0.739695,0.471111,0.385107,0.194361,77.89
281144,169966.0,-3.113832,0.585864,-5.399730,1.817092,-0.840618,-2.943548,-2.208002,1.058733,-1.632333,...,0.306271,0.583276,-0.269209,-0.456108,-0.183659,-0.328168,0.606116,0.884876,-0.253700,245.00
281674,170348.0,1.991976,0.158476,-2.583441,0.408670,1.151147,-0.096695,0.223050,-0.068384,0.577829,...,-0.017652,-0.164350,-0.295135,-0.072173,-0.450261,0.313267,-0.289617,0.002988,-0.015309,42.53

In [ ]:
Y

278983    0
88128     0
18484     0
48072     0
98104     0
         ..
279863    1
280143    1
280149    1
281144    1
281674    1
Name: Class, Length: 984, dtype: int64

In [ ]:
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.2, stratify=Y, random_state=2)

In [ ]:
print(X.shape, X_train, X_test.shape)

(984, 30)             Time         V1        V2         V3        V4         V5  \
100623   67571.0  -0.758469 -0.045410  -0.168438 -1.313275  -1.901763
155751  106303.0   1.873928 -0.432011  -0.511812  0.132338   0.212997
40077    40083.0  -0.908313 -0.159054   1.007995  1.350622  -1.030737
242188  151381.0   0.123399  0.957136  -0.537840 -0.736945   1.117108
123516   76962.0  -3.423542  2.880791   0.687580 -0.179934  -1.309599
...          ...        ...       ...        ...       ...        ...
112509   72683.0  -2.996058 -1.149053   2.214443 -0.072135  -0.416829
261978  160262.0   1.733081 -1.458099  -1.837925 -0.907559  -0.488212
223618  143456.0  -2.006582  3.676577  -5.463811  7.232058  -1.627859
43061    41353.0 -15.020981  8.075240 -16.298091  5.664820 -11.918153
77343    57007.0  -2.831815 -0.013577   0.967512 -0.515683  -1.489355

              V6         V7        V8        V9  ...       V20       V21  \
100623  0.739433   3.071892 -0.483422  0.618203  ... -0.032500  0.042619
155751  1.308348  -0.961770  0.485894  2.552909  ... -0.422963 -0.190687
40077   0.695669   1.884559  0.049570 -1.112481  ...  0.887698  0.231553
242188 -0.312117   0.863246  0.067226 -0.258727  ...  0.036846 -0.313436
123516  0.190222  -0.678887  1.059055  2.099686  ...  1.339795 -0.412475
...          ...        ...       ...       ...  ...       ...       ...
112509  0.856458   1.945567 -1.945393  1.770388  ... -1.165792 -0.567048
261978 -0.850332   0.059352 -0.309753 -0.886836  ...  0.445951  0.225140
223618 -0.996755  -4.299833  2.268867 -3.651067  ...  0.474414  0.713907
43061  -4.246957 -14.716668  9.435084 -6.795398  ... -0.995787  2.525115
77343  -0.720882  -0.873230  1.365413  0.433706  ... -0.536021 -0.035603

             V22       V23       V24       V25       V26       V27       V28  \
100623  0.397224  0.072229 -0.242276  0.560916 -0.540955  0.150606 -0.117140
155751 -0.143505  0.371802 -1.782084 -0.588194 -0.846958  0.070476 -0.062936
40077  -0.069871  0.931258  0.145079 -0.041016 -0.436043 -0.063209  0.058095
242188 -0.801376  0.048179  0.171747 -0.408511  0.117093  0.215972  0.070463
123516 -0.382286 -0.163236 -0.465236  0.766892  0.543258  0.943851  0.403846
...          ...       ...       ...       ...       ...       ...       ...
112509  0.858601 -0.494501  0.201847 -0.090993  1.057569 -2.431864 -0.275496
261978 -0.007337 -0.050875 -0.467480 -0.164037 -0.328864 -0.098668 -0.035090
223618 -0.063868  0.167947 -0.449864  0.023702  0.536905  0.485864 -0.042393
43061  -0.832074 -0.186117  0.429781  0.697103  0.056031 -1.310888 -0.707403
77343  -0.433296  0.229768  0.446992 -0.092424  0.766631 -0.482451 -0.425055

        Amount
100623  549.06
155751    1.55
40077   415.36
242188    5.99
123516    3.68
...        ...
112509  258.00
261978  259.00
223618    1.00
43061    34.12
77343    10.00

[787 rows x 30 columns] (197, 30)

Model Training

Logistic Regressions

In [ ]:
model = LogisticRegression()

In [ ]:
# Logistic Regression model with Training Data
model.fit(X_train, Y_train)

LogisticRegression()

Model Evaluation 

Accuracy Score

In [ ]:
# Accuracy of training data
X_train_prediction = model.predict(X_train)
training_data_accuracy = accuracy_score(X_train_prediction, Y_train)

In [ ]:
print("Accuracy of Training data :", training_data_accuracy)

Accuracy of Training data : 0.9224904701397713

In [ ]:
# Accuracy of Test data
X_test_prediction = model.predict(X_test)
test_data_accuracy = accuracy_score(X_test_prediction, Y_test)

In [ ]:
print("Accuracy of Test data :", test_data_accuracy)

Accuracy of Test data : 0.9086294416243654